<p id="notice"><%= notice %></p>

<h1>Cookings</h1>

<table>
  <thead>
    <tr>
      <th>Receipe</th>
      <th>Title</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cookings.each do |cooking| %>
      <tr>
        <td><%= cooking.receipe %></td>
        <td><%= cooking.title %></td>
        <td><%= cooking.active %></td>
        <td><%= link_to 'Show', cooking %></td>
        <td><%= link_to 'Edit', edit_cooking_path(cooking) %></td>
        <td><%= link_to 'Destroy', cooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cooking', new_cooking_path %>
